
/* This stylesheet creates the necessary one column mobile layout structure that we will be utilizing for Good Friend Tattoo */

body {
    display: grid;
    grid-template-columns: 1fr;
    /* TODO: Potentially improve row structure definition */
    grid-template-rows: minmax(auto, auto);
}

header {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

/*@media only screen and (min-width: 768px) { 
    
    header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}*/

