
body {
    font-family: 'Roboto', sans-serif;
    font-size: x-large
    /* font-family: 'Unkempt', cursive; */
    /* font-family: 'Hachi Maru Pop', cursive; */
    /* font-family: 'Sacramento', cursive; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

header {
    background-color: rgba(211, 211, 211, 0.685);
}

header h1 {
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    justify-self: center;
    /* font-family: 'Unkempt', cursive; */
    /* font-family: 'Gorditas', cursive; */
    /* font-weight: lighter; */
}

#hamburger-menu {
    font-size: 3em;
    justify-self: center;
    align-self: center;
}

.home-splash {
    text-align: center;
}

#construction {
    font-size: xx-large;
}

.latest-news {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.685);
    padding: 10px;
}

/* Generic Image Style */
figure img {
    width: 100%;
    border-radius: 20%;
}

figcaption {
    margin-top: 0.5em;
}

#welcome-splash {
    width: 50%;
    border-radius: 20%;
    margin: 0 auto;
}

#feature-tattoo {
    width: 20%;
    border-radius: 20%;
    margin: 0 auto;
}

#community-splash {
    width: 50%;
    border-radius: 20%;
    margin: 0 auto;
}

#butterfly-splash {
    width: 20%;
    border-radius: 20%;
    margin: 0 auto;
}

#wheelchair-splash {
    width: 20%;
    border-radius: 20%;
    margin: 0 auto;
}

/* .book-tattoo h2 {
    text-align: center;
} */

.book-tattoo {
    text-align: center;
    padding: 10px;
    text-align: center;
}

.book-btn {
    font-size: x-large;
    width: 200px;
    height: 50px;
}

.signup-btn {
    font-size: large;
    padding: 0.25em;
    width: 13em;
    height: 2em;
}

.instagram {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.685);
    padding: 10px;
}

/* .community h2 {
    text-align: center;
} */

.community {
    text-align: center;
    padding: 10px;
    /* background-color: rgba(211, 211, 211, 0.685); */
}

.join-email-list {
    padding: 0.25em;
    width: 13em;
    height: 2em;
}

.email-signup-container {
    padding: 10px;
}

.about-us {
    padding: 10px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.685);
}

.faqs h2 {
    text-align: center;
}

.faqs {
    /* text-align: center; */
    padding: 10px;
}

#hamburger-menu {
    display: inline;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
}

/* Header Logo Colouring */

#letter-g {
    color: blue;
}

#letter-o-1 {
    color: seagreen;
}

#letter-o-2 {
    color: red;
}

#letter-d-1 {
    color: orange;
}

#letter-f {
    color: orangered;
}

#letter-r {
    color: mediumturquoise;
}

#letter-i {
    color: lightyellow;
}

#letter-e {
    color: chocolate;
}

#letter-n {
    color: brown;
}

#letter-d-2 {
    color: skyblue;
}

footer {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.685);
}